<html>
<head>
<title> Json </title>
</head>
<body>
<table align='center' width = '30%' height='30'>
		<tr>
		<td align='center'>
		<a href="/" style="text-decoration: none; color: black;">Главная</a>
		</td>
		<td align='center'>
		<a href="/stats" style="text-decoration: none; color: black;">Статистика</a>
		</td>
		<td align='center'>
		<a href="/search" style="text-decoration: none; color: black;">Поиск</a>
		</td>
		<td align='center'>
		<a href="/json" style="text-decoration: none; color: black;">json</a>
		</td>
</table>
{{text}}
</body>
</html>