<html>
<head>
<title> Поиск </title>
</head>
<body>
<table align='center' width = '30%' height='30'>
		<tr>
		<td align='center'>
		<a href="/" style="text-decoration: none; color: black;">Главная</a>
		</td>
		<td align='center'>
		<a href="/stats" style="text-decoration: none; color: black;">Статистика</a>
		</td>
		<td align='center'>
		<a href="/search" style="text-decoration: none; color: black;">Поиск</a>
		</td>
		<td align='center'>
		<a href="/json" style="text-decoration: none; color: black;">json</a>
		</td>
</table>
<h1 align='center'> Поиск<h1>
<h2 align='center'> Введи название цвета, и если кто-то называл так какие-либо цвета, мы покажем тебе, какие цвета и как часто так назывались<h2>

<form action='/results' align='center'>
<input type = 'text' name = 'word' value = ''>
<input type = 'submit' value = 'Искать'>
</body>
</html>