,<!doctype html>
<html lang="ru">
  <head>
    <title> Запрос</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
<table align='center' width = '30%' height='30'>
		<tr>
		<td align='center'>
		<a href="/" style="text-decoration: none; color: black;">Главная</a>
		</td>
		<td align='center'>
		<a href="/request" style="text-decoration: none; color: black;">Ваш url в доревалюционной орфографии</a>
		</td>
		<td align='center'>
		<a href="/test" style="text-decoration: none; color: black;">Тест на яти</a>
</table>

<div class = "container">
<form action="/result">
    <b>Введите url, страницу которого мы отобразим в доревалюционной орфографии</b><input type="text" name="url" value="">
    <input type="submit" value="Отправить">
</form>
</div>

<p>Мы умеем работать только с сайтами в utf-8. Это займёт достаточно много времени. Я делал это задание по инструкции Бориса Валерьевича, поэтому вместо того, чтобы записать только текст, Вам упадёт файл со всем html'ем и ссылка на новое отображение этой страницы</p>

</body>
</html>
