<!doctype html>
<html lang="ru">
  <head>
    <title> Тест на яти</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
  <table align='center' width = '30%' height='30'>
		<tr>
		<td align='center'>
		<a href="/" style="text-decoration: none; color: black;">Главная</a>
		</td>
		<td align='center'>
		<a href="/request" style="text-decoration: none; color: black;">Ваш url в доревалюционной орфографии</a>
		</td>
		<td align='center'>
		<a href="/test" style="text-decoration: none; color: black;">Тест на яти</a>
</table>

<div class = "container">
<h3>Здравствуйте, вот тест на яти!</h3>
</div>

<div class = "container">
<form action="/resultletter">
    <p><b>Как правильно пишется?</b></p>
    <input type="radio" name="answer1" value="right">звѣрь<Br>
    <input type="radio" name="answer1" value="wrong">зверь<Br>
	
	<p> </p>
    <input type="radio" name="answer2" value="right">лѣстница<Br>
    <input type="radio" name="answer2" value="wrong">лестница<Br>
	
	<p> </p>
    <input type="radio" name="answer3" value="wrong">лѣтать<Br>
    <input type="radio" name="answer3" value="right">летать<Br>
	
	<p> </p>
    <input type="radio" name="answer4" value="wrong">пѣрстень<Br>
    <input type="radio" name="answer4" value="right">перстень<Br>
	
	
	<p> </p>
    <input type="radio" name="answer5" value="right">взбѣситься<Br>
    <input type="radio" name="answer5" value="wrong">взбеситься<Br>
	
	<p> </p>
    <input type="radio" name="answer6" value="right">мѣсяцъ<Br>
    <input type="radio" name="answer6" value="wrong">месяц<Br>
	
	<p> </p>
    <input type="radio" name="answer7" value="wrong">мѣсть<Br>
    <input type="radio" name="answer7" value="right">месть<Br>
	
	<p> </p>
    <input type="radio" name="answer8" value="right">рѣпа<Br>
    <input type="radio" name="answer8" value="wrong">репа<Br>
	
	<p> </p>
    <input type="radio" name="answer9" value="right">орѣх<Br>
    <input type="radio" name="answer9" value="wrong">орех<Br>
	
	<p> </p>
    <input type="radio" name="answer10" value="wrong">колѣсо<Br>
    <input type="radio" name="answer10" value="right">колесо<Br>
	
	
    <p><input type="submit"></p>
 </form>
 </div>
 
</body>
</html>

